<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Versadex OTG - Add New</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'criminals/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'criminals/main.css '%}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'criminals:index' %}">
            <strong>Versadex </strong><i>OnTheGo&raquo;</i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'criminals:profile' %}">
                        Welcome, {{ user.first_name }} {{ user.last_name }}
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'criminals:index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-item">You are not logged in!</a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row header-sm text-center">
        <div class="col-md-6 header-text-sm">
            <h1 class="font-weight-light">Add New Ticket</h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="spacer"></div>

    <div class="row text-center">
        <div class="col-md-4">
            <a class="d-inline-block" href="{% url 'criminals:vehicles' %}"><h5>&laquo;Go Back</h5></a>
            <div class="spacer"></div>
        </div>
        <div class="col-md-4">
            <a href="{% url 'criminals:person-add' %}" class="btn btn-primary btn-md">Add A Person</a>
            <div class="spacer"></div>
        </div>
        <div class="col-md-4">
            <a href="{% url 'criminals:vehicle-add' %}" class="btn btn-primary btn-md">Add A Vehicle</a>
            <div class="spacer"></div>
        </div>
    </div>

    <div class="spacer"></div>

    <!-- Content Row -->
    <div class="row" id="contentRow">
        <div class="col-md-12 text-center">
            <h3>Notice of Opportunity to Pay Fixed Penalty</h3>
            <br>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="lead">Choose a vehicle:</p> {{ form.vehicle }}

                <div class="spacer"></div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p>
                            Take notice that I, No. {{ user.username }} {{ user.first_name }} {{ user.last_name }},
                            have reason to believe that you have committed an offence at the under mentioned location.
                            The offence, as per the Motor Vehicles and Road Traffic Act Chapter 48:52, is also listed
                            thereunder.
                        </p>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="spacer"></div>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>Location of Infraction</th>
                                    <th>Traffic Offence</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ form.location }}</td>
                                    <td>{{ form.offence }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>
        </div>
        <!-- /.row -->
        <div class="spacer"></div>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; Shanice Dick &#183; 00050137 &#183; BSc Internet Technology</p>
        <p class="m-0 text-center text-white">College of Science Technology and Applied Arts of Trinidad and Tobago</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'criminals/vendors/jquery/jquery.min.js '%}"></script>
<script src="{% static 'criminals/vendors/bootstrap/js/bootstrap.bundle.min.js '%}"></script>
</body>
</html>
