<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Versadex OTG - Vehicles</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'criminals/vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'criminals/main.css '%}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'criminals:index' %}"><strong>Versadex </strong><i>OnTheGo&raquo;</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'criminals:profile' %}">Welcome, {{ user.first_name }}  {{ user.last_name }}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'criminals:index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-item">You are not logged in!</a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row header-sm text-center">
        <div class="col-md-6 header-text-sm">
            <h1 class="font-weight-light">All Vehicles</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="spacer"></div>

    <a href="{% url 'criminals:index' %}"><h5>&laquo;Go Back</h5></a>

    <div class="spacer"></div>

    <form action="{% url 'criminals:vehicle-result' %}" method="get">
        <div class="row">

            <div class="col-md-10">
                <div class="form-group">
                    <input name="q" type="text" class="form-control" id="search"
                           placeholder="Search by registration number, make or model">
                </div>
            </div>
            <div class="col-md-2">
                <button style="width:100%;" type="submit" class="btn btn-primary mb-2">Find Now</button>
            </div>
        </div>

    </form>

    <div class="spacer"></div>

    <!-- Content Row -->
    <div class="row text-center" id="contentRow">

        {% for v in vehicle %}
        <div class="col-md-4">
            <div class="card-column" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ v.license_plate }}</h5>
                    <p class="card-text">
                        <strong>Registered Owner: </strong>{{ v.owner.firstName }} {{ v.owner.lastName }}
                        <br> <strong>Car Make: </strong>{{ v.car_make }}
                        <br> <strong>Car Model: </strong>{{ v.car_model }}
                        <br> <strong>Car Year: </strong>{{ v.car_year }}
                    </p>
                    <a href="{% url 'criminals:vehicle-detail' v.id %}" class="btn btn-primary">View Vehicle</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="pagination">
                <span class="step-links text-center">
                    {% if vehicle.has_previous %}
                        <a href="?page=1">&laquo; First</a> |
                        <a href="?page={{ vehicle.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ vehicle.number }} of {{ vehicle.paginator.num_pages }}.
                    </span>

                    {% if vehicle.has_next %}
                        <a href="?page={{ vehicle.next_page_number }}">Next </a> |
                        <a href="?page={{ all_persons.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<div class="spacer"></div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; Shanice Dick &#183; 00050137 &#183; BSc Internet Technology</p>
        <p class="m-0 text-center text-white">College of Science Technology and Applied Arts of Trinidad and Tobago</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'criminals/vendors/jquery/jquery.min.js '%}"></script>
<script src="{% static 'criminals/vendors/bootstrap/js/bootstrap.bundle.min.js '%}"></script>

</body>
</html>
